@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "npm:rpgui/rpgui.css";

html, body {
  image-rendering: pixelated;
}

body {
  background: url('assets/img/bg-day.png') no-repeat center center fixed;
}

.rpgui-container, .rpgui-content {
  position: static !important;
  overflow: auto !important;
}

.rpgui-content ::-webkit-scrollbar-thumb, .rpgui-content::-webkit-scrollbar-thumb {
  background-size: 100% !important;
  background-position: 100% 100% !important;
}

.logo {
  font-size: 8rem !important;
    user-select: none;
    letter-spacing: 0.5rem;
    margin: 10vh 0 10vh 0 !important;
    text-shadow: 0 -1px #000, 0 -2px #000, 0 -3px #000, 0 -4px #000, 0 -5px #000, 0 1px #000, 0 2px #000, 0 3px #000,  0 4px #000,  0 5px #000,
     -1px  0 #000, -2px  0 #000, -3px  0 #000, -4px  0 #000, -5px  0 #000, 1px  0 #000, 2px  0 #000, 3px  0 #000,  4px  0 #000,  5px  0 #000!important;
}
